.animate {
  animation-name: selection;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  font-family: "roboto", sans-serif, sans-serif;
  font-size: inherit;
}

*::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: "roboto", sans-serif, sans-serif;
}

header,
main,
footer {
  width: 100%;
}

h1 {
  font-family: "shrikhand", sans-serif, sans-serif;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  background-color: #e4e4e4;
}
.location__label {
  margin-left: 1.5rem;
  margin-right: 1rem;
}
.location__icon {
  font-size: 1.3rem;
}
.location__input {
  border: none;
  background-color: #e4e4e4;
  font-weight: 700;
  padding-left: 0.5rem;
  width: 200px;
  max-width: 100%;
  height: 40px;
  font-size: 1.12rem;
  outline: none;
}
.location__input::placeholder {
  opacity: 0.7;
}
.location__button {
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: #e4e4e4;
  display: none;
}
.location__button i {
  font-size: 2rem;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 40px;
  padding-bottom: 90px;
  text-align: center;
  word-wrap: break-word;
  background-color: #f2f2f2;
  margin-bottom: 60px;
}
.explore p {
  opacity: 0.5;
  font-size: 1.5rem;
}
.explore__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  min-width: 200px;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 400ms;
  border-radius: 2rem;
  padding: 1.3rem 2.5rem;
  color: #fff;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  transition: all 400ms;
}
.explore__btn:hover {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}

.howto {
  margin: 0 30px 60px;
}
.howto__title {
  margin-bottom: 30px;
}
.howto__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 15px;
  counter-reset: step;
}
.howto__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
  min-width: 200px;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 400ms;
  border-radius: 25px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px 40px;
  position: relative;
}
.howto__list li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: counter(step);
  counter-increment: step;
  position: absolute;
  left: -15px;
  border-radius: 100%;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 1rem;
}
.howto__list li:hover,
.howto__list li:focus {
  background-color: #f2eafb;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.3);
}
.howto__list li:hover > i,
.howto__list li:focus > i {
  color: #9356dc;
  opacity: 1;
}
.howto__list li i {
  opacity: 0.5;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .howto__title {
    text-align: center;
  }
  .howto__list {
    flex-flow: row nowrap;
    width: 100%;
  }
  .howto__list li {
    justify-content: space-evenly;
    width: 31%;
  }
}
.restaurants {
  background-color: #f2f2f2;
  padding: 80px 30px;
  width: 100%;
}
.restaurants__title {
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  background-color: #99e2d0;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: #278870;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
}

.card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  width: 100%;
  border-radius: 1.3rem;
  position: relative;
  overflow: hidden;
  transition: all 400ms;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 12px 16px;
  height: 90px;
}
.card__footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__footer-info h3,
.card__footer-info p {
  font-size: 1.3rem;
}
.card__footer-like {
  position: relative;
}
.card__footer-like .fa-regular {
  position: relative;
  cursor: pointer;
}
.card__footer-like .fa-regular:hover::after {
  opacity: 1;
}
.card__footer-like .fa-regular::after {
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: opacity 400ms;
}

@media screen and (min-width: 768px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .restaurants__title {
    text-align: center;
  }
}
.footer {
  background-color: #323232;
  color: #fff;
  padding: 2rem;
}
.footer__title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 1rem;
}
.footer__item {
  font-size: 1rem;
  line-height: 2rem;
}
.footer__item i {
  width: 20px;
  margin-right: 0.5rem;
}
.footer__item:focus, .footer__item:hover {
  color: #ff79da;
}
.footer__item:active {
  color: #9356dc;
}

.fa-at,
.fa-info {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    place-content: center;
  }
  .footer__title {
    text-align: center;
  }
  .footer__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }
  .footer__list__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
