/* || COLORS */
/* background colors */
/* shadow colors */
/** Font Size **/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: inherit;
}

*::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: "roboto", sans-serif;
}

header,
main,
footer {
  width: 100%;
}

h1 {
  font-family: "shrikand", sans-serif;
}

h1,
h2 {
  font-size: 2rem;
}

h3 {
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 0 20px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.271);
}
.header__logo img {
  max-width: 60%;
  height: auto;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem;
  background-color: #e4e4e4;
}
.location__label {
  margin-left: 1.5rem;
  margin-right: 1rem;
}
.location__icon {
  font-size: 1.4rem;
}
.location__input {
  border: none;
  background-color: #e4e4e4;
  font-weight: 700;
  padding-left: 0.5rem;
  width: 200px;
  max-width: 100%;
  height: 40px;
  font-size: 1.12rem;
  outline: none;
}
.location__input::placeholder {
  opacity: 0.7;
}
.location__button {
  width: 45px;
  height: 40px;
  border: none;
  border-radius: 0 12px 12px 0;
  background-color: #e4e4e4;
  display: none;
}
.location__button i {
  font-size: 2rem;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 25px;
  padding-top: 40px;
  padding-bottom: 90px;
  text-align: center;
  word-wrap: break-word;
  background-color: #f2f2f2;
  margin-bottom: 60px;
}
.explore p {
  opacity: 0.5;
  font-size: 1.5rem;
}
.explore__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.271);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.271);
  cursor: pointer;
  border: none;
  min-width: 200px;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 400ms;
  border-radius: 2rem;
  padding: 1.3rem 2.5rem;
  color: #fff;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  transition: all 400ms;
}
.explore__btn:hover {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.271);
  background: linear-gradient(to bottom right, #ff88de, #9b63df);
}

.howto {
  margin: 0 30px 60px;
}
.howto__title {
  margin-bottom: 30px;
}

.howto__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 15px;
  counter-reset: step;
}
.howto__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.271);
  cursor: pointer;
  border: none;
  min-width: 200px;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 400ms;
  border-radius: 25px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px 40px;
  position: relative;
}
.howto__list li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: step;
  content: counter(step);
  position: absolute;
  left: -15px;
  border-radius: 100%;
  background-color: #9356dc;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 1rem;
}
.howto__list li:hover, .howto__list li:focus {
  background-color: #f2eafb;
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.271);
}
.howto__list li:hover > i, .howto__list li:focus > i {
  color: #9356dc;
  opacity: 1;
}
.howto__list li i {
  opacity: 0.5;
  font-size: 1.5rem;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 60px 30px;
}
.restaurants__title {
  margin-bottom: 30px;
}
.restaurants__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  width: 100%;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transition: all 400ms;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.271);
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
}
.card__new {
  background-color: #99e2d0;
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 1rem;
  color: #1b7241;
  padding: 5px 15px;
  border-radius: 5px;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px 12px 16px;
  height: 90px;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__info h3,
.card__info p {
  font-size: 1.5rem;
}
.card .card__like {
  position: relative;
  z-index: 1;
  color: black;
}
.card .card__like:hover::after {
  opacity: 1;
}
.card .card__like::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
  color: red;
}
.card .card:focus,
.card .card:hover {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.271);
}

/*# sourceMappingURL=styles.css.map */
