@charset "UTF-8";
@keyframes shake {
  25% {
    transform: translateX(3%);
  }
  75% {
    transform: translateX(-3%);
  }
}
@keyframes like {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(3);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-in {
  0% {
    transform: translateY(1.5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -999;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0rem);
  }
  25% {
    transform: translateY(-1.2rem);
  }
  100% {
    transform: translateY(1.2rem);
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: inherit;
}

a {
  background: transparent;
  text-decoration: none;
}
a:focus {
  outline: thin dotted #ff79da;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  box-sizing: border-box;
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 360px;
  min-height: 100vh;
  font-family: "roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  body {
    min-width: 960px;
  }
}

header,
main,
footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style-type: none;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h3,
h4 {
  margin-bottom: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 999;
  animation: fade-out 3000ms ease-in-out both;
}
.loader .dot--1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #99e2d0;
  animation: jump 500ms 200ms infinite linear;
}
.loader .dot--2,
.loader .dot--3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.loader .dot--2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ff79da;
  animation: jump 500ms 300ms infinite linear;
  margin-inline: 2rem;
}
.loader .dot--3 {
  background-color: #9356dc;
  animation: jump 500ms 400ms infinite linear;
}

header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem 0 1rem;
  z-index: 1;
}
header .backButton {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  opacity: 0.7;
  margin-left: -1.5rem;
}
header .backButton:hover, header .backButton:focus {
  color: #9356dc;
}

.footer {
  background-color: #323232;
  color: #fff;
  padding: 2rem;
}
.footer__title {
  font-family: "shrikhand";
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  position: relative;
}
.footer__item {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  display: flex;
}
.footer__item i {
  width: 20px;
  margin-right: 1.1rem;
  text-align: center;
}
.footer__item:focus, .footer__item:hover, .footer__item:active {
  color: #9356dc;
}

@media screen and (min-width: 768px) {
  .footer__title {
    text-align: center;
  }
  .footer__list {
    display: flex;
    justify-content: space-evenly;
  }
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1.3rem;
  background-color: #e4e4e4;
}
.location__label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 3rem;
}
.location__icon {
  font-size: 1.4rem;
}
.location__input {
  border: none;
  background-color: #e4e4e4;
  font-weight: 700;
  padding-left: 0.5rem;
  width: 12rem;
  max-width: 100%;
  height: 2.5rem;
  font-size: 1.12rem;
}
.location__input:focus {
  outline: 1px dashed #ff79da;
}
.location__input::placeholder {
  opacity: 0.7;
}
.location__button {
  width: 3rem;
  border: none;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: #e4e4e4;
}
.location__button i {
  font-size: 1.2rem;
}

.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 4rem;
  text-align: center;
  word-wrap: break-word;
  background-color: #f2f2f2;
}
.explore p {
  opacity: 0.5;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.explore__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  min-width: 17rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 2rem;
  padding: 1.3rem 2.5rem;
  color: #fff;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
}
.explore__btn:hover, .explore__btn:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4);
}
.explore__btn:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

.howto {
  margin: 4rem 2rem;
}
.howto__title {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .howto__title {
    text-align: center;
  }
}
.howto__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  counter-reset: step;
}
.howto__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  min-width: 17rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
  justify-content: flex-start;
  border-radius: 1.5rem;
  padding: 2rem;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: #f2f2f2;
  gap: 1rem;
  position: relative;
  white-space: nowrap;
}
.howto__list li:hover, .howto__list li:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4);
}
.howto__list li i {
  opacity: 0.5;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .howto__list {
    justify-content: center;
    flex-flow: row nowrap;
    width: 100%;
    gap: 2.5rem;
  }
  .howto__list li {
    justify-content: space-evenly;
    width: 25%;
  }
}
.howto__list li::before {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  content: counter(step);
  counter-increment: step;
  position: absolute;
  left: -15px;
  border-radius: 100%;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  color: #fff;
  font-size: 1rem;
}
.howto__list li:focus,
.howto__list li:hover {
  background-color: #f2eafb;
}
.howto__list li:hover > i,
.howto__list li:focus > i {
  color: #9356dc;
  opacity: 1;
}

.restaurants {
  background-color: #f2f2f2;
  padding: 5rem 2rem;
  width: 100%;
}
.restaurants__title {
  margin-bottom: 2.5rem;
}
@media screen and (min-width: 768px) {
  .restaurants__title {
    text-align: center;
  }
}
.restaurants__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .restaurants__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding-inline: 10rem;
  }
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  background-color: #99e2d0;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: 700;
  color: #278870;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
}

.card {
  width: 100%;
  border-radius: 1.3rem;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 400ms;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
.card:hover, .card:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4);
}
.card__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.card__img {
  width: 100%;
  height: 12.5rem;
  object-fit: cover;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.75rem 1.5rem 0.75rem 1rem;
  height: 5.6rem;
}
.card__footer-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.card__footer-info h3,
.card__footer-info p {
  font-size: 1.3rem;
}
.card__footer-like .fa-regular {
  position: relative;
  cursor: pointer;
}
.card__footer-like .fa-regular:hover::after, .card__footer-like .fa-regular:focus::after, .card__footer-like .fa-regular:active::after {
  opacity: 1;
  animation: like 1000ms 100ms ease-in-out both;
}
.card__footer-like .fa-regular::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  opacity: 0;
  z-index: 1;
  font-size: 2rem;
  transition: all 100ms ease-in-out;
}

.card:hover::before,
.card:focus::before {
  animation: shake 150ms 200ms ease-in-out;
  animation-iteration-count: 4;
}

.hero {
  width: 100%;
}
.hero img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

.menus {
  margin-top: -4rem;
  border-radius: 3.5rem 3.5rem 0 0;
  background-color: #f2f2f2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-direction: column;
}
.menus__like {
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
}
.menus__like .fa-regular {
  position: relative;
  cursor: pointer;
}
.menus__like .fa-regular:hover::after, .menus__like .fa-regular:focus::after, .menus__like .fa-regular:active::after {
  opacity: 1;
  animation: like 1000ms 100ms ease-in-out both;
}
.menus__like .fa-regular::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  opacity: 0;
  z-index: 1;
  font-size: 2rem;
  transition: all 100ms ease-in-out;
}
.menus__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2rem 1rem 2rem 0;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .menus__title {
    width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .menus__title {
    width: 75%;
  }
}
.menus__title h2 {
  font-family: "shrikhand", sans-serif;
  font-weight: 400;
}
.menus .meals-wrapper {
  width: 100%;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .menus .meals-wrapper {
    width: 50%;
  }
}
@media screen and (min-width: 1240px) {
  .menus .meals-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 1.5rem;
  }
}
.menus article {
  padding-bottom: 2rem;
  width: 100%;
}
@media screen and (min-width: 1240px) {
  .menus article {
    width: 31%;
  }
}
.menus article h3 {
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 0.3rem;
  border-bottom: 3.5px solid #99e2d0;
  width: 3rem;
  margin-bottom: 3rem;
}

.meals {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  min-width: 17rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 1rem;
  max-width: 100%;
  margin-bottom: 2rem;
  align-items: center;
  overflow: hidden;
  height: 6rem;
  animation: fade-in 2000ms ease-in-out both;
}
.meals:hover, .meals:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4);
}
.meals:nth-child(1) {
  animation-delay: 200ms;
}
.meals:nth-child(2) {
  animation-delay: 400ms;
}
.meals:nth-child(3) {
  animation-delay: 600ms;
}
.meals:nth-child(4) {
  animation-delay: 800ms;
}
.meals:nth-child(5) {
  animation-delay: 1000ms;
}
.meals:nth-child(6) {
  animation-delay: 1200ms;
}
.meals:nth-child(7) {
  animation-delay: 1400ms;
}
.meals:nth-child(8) {
  animation-delay: 1600ms;
}
.meals:nth-child(9) {
  animation-delay: 1800ms;
}
.meals:nth-child(10) {
  animation-delay: 2000ms;
}
@media screen and (min-width: 768px) {
  .meals {
    max-width: 100%;
  }
}
@media screen and (min-width: 1240px) {
  .meals {
    max-width: 30rem;
  }
}
.meals:hover .meals__selection, .meals:focus .meals__selection {
  margin-right: 0;
}
.meals:hover .meals__selection i, .meals:focus .meals__selection i {
  animation: rotate 300ms 100ms ease-in-out both;
}
.meals__info {
  padding: 1rem 0 1rem 1rem;
  min-width: 0;
}
.meals__info p {
  font-size: 0.8rem;
}
.meals__info h4,
.meals__info p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .meals__info h4 {
    font-size: 1.2rem;
  }
  .meals__info p {
    font-size: 1rem;
  }
}
.meals__selection {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-right: -5rem;
  transition: all 400ms ease-in-out;
}
.meals__selection-price {
  font-size: 1rem;
  font-weight: 700;
  width: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
.meals__selection-check {
  height: 6rem;
  font-size: 1.5rem;
  background-color: #99e2d0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 5rem;
  border-radius: 0 1rem 1rem 0;
}
@media screen and (min-width: 768px) {
  .meals__selection-price {
    font-size: 1.2rem;
  }
  .meals__selection-check {
    font-size: 2rem;
  }
}

.order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
  border: none;
  min-width: 17rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
  font-weight: 700;
  font-size: 1.3rem;
  border-radius: 2rem;
  padding: 1.3rem 2.5rem;
  color: #fff;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  width: 18rem;
  margin-bottom: 4rem;
}
.order-btn:hover, .order-btn:focus {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.4);
}
.order-btn:hover {
  transform: scale(1.05);
  opacity: 0.75;
}

/*# sourceMappingURL=styles.css.map */
