@mixin baseButton {
    display: flex;
    cursor: pointer;
    border-radius: 1.5rem;
    border: none;
    min-width: 12.5rem;
    @include shadow;
    transition: all 400ms ease-in-out;
}

@mixin buttonPink {
    @include flex;
    @include baseButton;
    font-weight: 700;
    font-size: $fontMedium;
    border-radius: 2rem;
    padding: 1.3rem 2.5rem;
    color: #fff;
    background-image: $colorGradient;
}

@mixin backButton {
    display: block;
    position: absolute;
    left: 3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    opacity: 0.8;
    margin-left: -1.5rem;

}