@mixin base-btn-label {
    @include flex;
    cursor: pointer;
    border: none;
    min-width: 17rem;
    @include shadow;
    transition: all 400ms ease-in-out;
}

@mixin pink-btn {
    @include base-btn-label;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 2rem;
    padding: 1.3rem 2.5rem;
    color: #fff;
    background-image: $color-gradient;

    &:hover {
        transform: scale(1.05);
        opacity: 0.75;
    }
}

@mixin back-btn {
    position: absolute;
    left: 4rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    opacity: 0.7;
    margin-left: -1.5rem;
}