@mixin howToLabel {
    @include baseButton;
    justify-content: flex-start;
    border-radius: 1.5rem;
    padding: 2rem 2.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: $colorBackgroundLight;
    gap: 1.8rem;
}

@mixin menuLabel {
    @include baseButton;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 400;
    font-size: 1.17rem;
    background-color: #fff;
    border-radius: 1rem;
}

@mixin labelNew {
    content: "Nouveau";
    background-color: $colorTertiary;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: darken($colorTertiary, 40);
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
}