@mixin howto-label {
    @include base-btn-label;
    justify-content: flex-start;
    border-radius: 1.5rem;
    padding: 2rem;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: $color-bg-light;
    gap: 1rem;
}

@mixin menu-label {
    @include base-btn-label;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fff;
    border-radius: 1rem;
}

@mixin new-label {
    content: "Nouveau";
    background-color: $color-tertiary;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-weight: 700;
    color: darken($color-tertiary, 40);
    padding: 0.5rem 0.8rem;
    border-radius: 0.2rem;
}