.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 999;
    animation: fade-out 3000ms ease-in-out both;

    .dot--1 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $color-tertiary;
        animation: jump 500ms 200ms infinite linear;
    }

    .dot--2,
    .dot--3 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }

    .dot--2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        background-color: $color-secondary;
        animation: jump 500ms 300ms infinite linear;
        margin-inline: 2rem;
    }

    .dot--3 {
        background-color: $color-primary;
        animation: jump 500ms 400ms infinite linear;
    }
}