// LOADER

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.90);
    z-index: 999;
    animation: fade-out 3500ms ease-in-out both;

    .dot--1 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-tertiary;
        animation: jump 400ms 100ms ease-in-out backwards;
    }

    .dot--2,
    .dot--3 {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .dot--2 {
        margin-inline: 2rem;
        background-color: $color-secondary;
        animation: jump 400ms 500ms ease-in-out backwards;
    }

    .dot--3 {
        background-color: $color-primary;
        animation: jump 400ms 900ms ease-in-out backwards;
    }

    .letters--1,
    .letters--2,
    .letters--3 {
        margin-left: 1rem;
        font-family: "shrikhand", sans-serif;
        font-size: 4rem;
        opacity: 0;

    }

    .letters--1 {
        color: $color-tertiary;
        animation: fade-in 1s 1300ms both;
    }

    .letters--2 {
        color: $color-secondary;
        animation: fade-in 1s 1700ms both;
    }

    .letters--3 {
        color: $color-primary;
        animation: fade-in 1s 2100ms both;
    }
}