*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	@include flex($flex-direction: column);
	width: 100%;
	min-width: 360px;
	min-height: 100vh;
	font-family: $font-text, sans-serif;

	@media #{$tablet-screen} {
		min-width: 960px;
	}
}

header,
main,
footer {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

ul,
ol {
	list-style-type: none;
}