html {
	scroll-behavior: smooth;
}

body {
	@include flex-center;
	flex-direction: column;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	font-family: "roboto", sans-serif;
}

header,
main,
footer {
	width: 100%;
}

h1 {
	font-family: "shrikand", sans-serif;
}

h1,
h2 {
	font-size: 2rem;
}

h3 {
	margin-bottom: 6px;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}