* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 220px;
	height: 100vh;
	font-family: $font-text;
	font-size: 20px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}