// SECTION LOCATION

.location {
    @include flex;
    padding: 1.3rem;
    background-color: $colorBackgroundDark;

    &__label {
        @include flex;
        width: 3rem;
    }

    &__icon {
        font-size: 1.4rem;
    }

    &__input {
        border: none;
        background-color: $colorBackgroundDark;
        font-weight: 700;
        padding-left: 0.5rem;
        width: 10rem;
        max-width: 100%;
        height: 2.5rem;
        font-size: 1.12rem;
        outline: none;

        &::placeholder {
            opacity: 0.7;
        }
    }

    &__button {
        width: 3rem;
        border: none;
        border-radius: 0 0.75rem 0.75rem 0;
        background-color: $colorBackgroundDark;
        display: none; // to change after project validation

        i {
            font-size: 2rem;
        }
    }
}

// SECTION EXPLORE

.explore {
    @include flex($flex-direction: column);
    row-gap: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 5.6rem;
    text-align: center;
    word-wrap: break-word;
    background-color: $colorBackgroundLight;
    margin-bottom: 3.75rem;

    p {
        opacity: 0.5;
        font-size: 1.5rem;
    }

    &__btn {
        @include pinkButton;

        &:hover {
            transform: scale(1.05);
            opacity: 0.75;
        }
    }
}

// SECTION HOWTO

.howto {
    margin: 5rem 2rem;

    &__title {
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 1rem;
        counter-reset: step;

        li {
            @include howToLabel;
            position: relative;

            i {
                opacity: 0.5;
                font-size: 1.5rem;
            }
        }

        li::before {
            @include flex;
            content: counter(step);
            counter-increment: step;
            position: absolute;
            left: -15px;
            border-radius: 100%;
            background-color: $colorPrimary;
            width: 2rem;
            height: 2rem;
            color: #fff;
            font-size: 1rem;
        }

        li:hover,
        li:focus {
            background-color: lighten($colorPrimary, 35);
        }

        li:hover>i,
        li:focus>i {
            color: $colorPrimary;
            opacity: 1;
        }
    }
}

// || TABLET breakpoint 768px

@media #{$tabletScreen} {

    .howto__title {
        text-align: center;
    }

    .howto__list {
        flex-flow: row nowrap;
        width: 100%;

        li {
            justify-content: space-evenly;
            width: 31%;
        }
    }
}

// SECTION RESTAURANTS

.restaurants {
    background-color: $colorBackgroundLight;
    padding: 5rem 2rem;
    width: 100%;

    &__title {
        margin-bottom: 2rem;
    }

    &__list {
        @include flex ($flex-direction: column);
        row-gap: 2rem;
    }
}

.new {
    position: relative; // add the label "new" easily with adding .new without creating div
}

.new::before {
    @include labelNew;
}

.card {
    // width: min(100%, 500px);
    width: 100%;
    border-radius: 1.3rem;
    position: relative;
    overflow: hidden;
    transition: all 400ms;
    @include shadow;

    &__link {
        @include linkOver;
    }

    &__img {
        width: 100%;
        height: 12.5rem;
        object-fit: cover;
    }

    &__footer {
        @include flex ($justify-content: space-between);
        padding: 0.75rem 1.5rem 0.75rem 1rem;
        height: 5.6rem;

        &-info {
            @include flex ($align-items: flex-start, $justify-content: space-between, $flex-direction: column);

            h3,
            p {
                font-size: 1.3rem;
            }
        }

        &-like .fa-regular {
            @include heartGradient;
        }
    }
}

.card:focus,
.card:hover {
    &::before {
        animation: shake 150ms 200ms ease-in-out;
        animation-iteration-count: 4;
    }
}

// || TABLET breakpoint 768px

@media #{$tabletScreen} {
    // interpolation variable with #{}

    .restaurants__list {
        display: grid; // most easier than flex
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .restaurants__title {
        text-align: center;
    }
}