// SECTION LOCATION

.location {
    @include flex;
    padding: 1.3rem;
    background-color: $color-bg-dark;

    &__label {
        @include flex;
        width: 3rem;
    }

    &__icon {
        font-size: 1.4rem;
    }

    &__input {
        border: none;
        background-color: $color-bg-dark;
        font-weight: 700;
        padding-left: 0.5rem;
        width: 12rem;
        max-width: 100%;
        height: 2.5rem;
        font-size: 1.12rem;

        &:focus {
            outline: 1px dashed $color-secondary;
        }

        &::placeholder {
            opacity: 0.7;
        }
    }

    &__button {
        width: 3rem;
        border: none;
        border-radius: 0 0.75rem 0.75rem 0;
        background-color: $color-bg-dark;
        // display: contents;

        i {
            font-size: 1.2rem;
        }
    }
}

// SECTION EXPLORE

.explore {
    @include flex($flex-direction: column);
    padding-top: 2.5rem;
    padding-bottom: 4rem;
    text-align: center;
    word-wrap: break-word;
    background-color: $color-bg-light;

    p {
        opacity: 0.5;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    &__btn {
        @include pink-btn;
    }
}

// SECTION HOWTO

.howto {
    margin: 4rem 2rem;

    &__title {
        margin-bottom: 2.5rem;

        @media #{$tablet-screen} {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        counter-reset: step;

        li {
            @include howto-label;
            position: relative;
            white-space: nowrap;

            i {
                opacity: 0.5;
                font-size: 1.2rem;
            }
        }

        @media #{$tablet-screen} {
            justify-content: center;
            flex-flow: row nowrap;
            width: 100%;
            gap: 2.5rem;

            li {
                justify-content: space-evenly;
                width: 25%;
            }
        }

        li::before {
            @include flex;
            content: counter(step);
            counter-increment: step;
            position: absolute;
            left: -15px;
            border-radius: 100%;
            background-color: $color-primary;
            width: 2rem;
            height: 2rem;
            color: #fff;
            font-size: 1rem;
        }

        li:focus,
        li:hover {
            background-color: lighten($color-primary, 35);
        }

        li:hover>i,
        li:focus>i {
            color: $color-primary;
            opacity: 1;
        }
    }
}


// SECTION RESTAURANTS

.restaurants {
    background-color: $color-bg-light;
    padding: 5rem 2rem;
    width: 100%;

    &__title {
        margin-bottom: 2.5rem;

        @media #{$tablet-screen} {
            text-align: center;
        }
    }

    &__list {
        @include flex ($flex-direction: column);
        row-gap: 2rem;

        @media #{$tablet-screen} {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 4rem;
            padding-inline: 10rem;
        }
    }
}

.new {
    position: relative;
}

.new::before {
    @include new-label; // add the label "new" easily with adding .new without creating div
}

.card {
    width: 100%;
    border-radius: 1.3rem;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 400ms;
    @include shadow;

    &__link {
        @include link-over;
    }

    &__img {
        width: 100%;
        height: 12.5rem;
        object-fit: cover;
    }

    &__footer {
        @include flex ($justify-content: space-between);
        padding: 0.75rem 1.5rem 0.75rem 1rem;
        height: 5.6rem;

        &-info {
            @include flex (flex-start, space-between, column);

            h3,
            p {
                font-size: 1.3rem;
            }
        }

        &-like .fa-regular {
            @include heart-gradient;
        }
    }
}

.card:hover,
.card:focus {
    &::before {
        animation: shake 150ms 200ms ease-in-out;
        animation-iteration-count: 4;
    }
}