.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.menu {
    transform: translateY(-4rem);
    background-color: #fff;
    border-radius: 4rem;

    &__like {
        display: grid;
        place-content: center;
        width: 3rem;
        height: 3rem;

        .fa-regular {
            @include heartGradient;
        }
    }

    &__title {
        @include flex ($justify-content: space-between);
        padding: 2rem;
        border-radius: 2rem 2rem 0 0;

        h2 {
            font-family: $fontTitle;
            font-weight: 400;
        }
    }
}