.hero {
    width: 100%;

    img {
        width: 100%;
        height: 22rem;
        object-fit: cover;
    }
}

.menu {
    width: 100%;
    margin-top: -4rem;
    border-radius: 3.5rem 3.5rem 0 0;
    background-color: $colorBackgroundLight;
    padding: 1rem;

    &__like {
        display: grid;
        place-content: center;
        width: 3rem;
        height: 3rem;

        .fa-regular {
            @include heartGradient;
        }
    }

    &__title {
        @include flex ($justify-content: space-between);
        padding: 2rem 1rem 2rem 0;
        border-radius: 2rem 2rem 0 0;

        h2 {
            font-family: $fontTitle, sans-serif;
            font-weight: 400;
        }
    }

    article {
        padding-bottom: 3rem;

        h3 {
            text-transform: uppercase;
            font-weight: 400;
            padding-bottom: 0.3rem;
            border-bottom: 3.5px solid $colorTertiary;
            width: 3rem;
            margin-bottom: 2rem;
        }

        .meals {
            @include menuLabel;
            margin-bottom: 2rem;
            align-items: center;
            height: 5rem;
            overflow: hidden;


            &__info {
                display: flex;
                flex-direction: column;
                padding-inline: 1rem;

            }

            &__selection {
                width: 10rem;
                height: 100%;
                display: flex;
                margin-right: -5rem;
                transition: all 300ms ease-in-out;

                &:hover,
                &:focus,
                &:active {
                    margin-right: 0;
                }

                &:hover,
                &:focus,
                &:active {
                    &::after {
                        transform: rotate(1turn);
                    }
                }

                &-price {
                    font-weight: 700;
                    width: 6rem;
                    @include flex(flex-end);
                    padding: 1rem;
                    position: relative;
                }

                &::after {
                    content: "\f058";
                    font-family: 'Font Awesome\ 6 Free';
                    font-size: 2rem;
                    background-color: $colorTertiary;
                    color: white;
                    @include flex;
                    width: 6rem;
                    border-radius: 0 1rem 1rem 0;
                    transition: transform 800ms 150ms;
                    overflow: hidden;
                }
            }
        }
    }
}

// &-check {
//     background-color: lightblue;
//         width: 50%;
//         font-weight: 700;
//         display: flex;
//         align-items: flex-end;
//         justify-content: center;
//         height: 100%;
//         padding-bottom: 1rem;
// }