// LABEL "NEW" SHAKE

@keyframes shake {
    25% {
        transform: translateX(3%);
    }

    75% {
        transform: translateX(-3%);
    }
}

// HEART ANIMATION (HOMEPAGE AND MENU)

@keyframes like {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(3);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// MENU CHECKED MARKUP ROTATION

@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// MENU SELECTION FADE IN

@keyframes fade-in {
    0% {
        transform: translateY(1.5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// LOADER ANIMATION

@keyframes fade-out {

    // FOND BLANC TRANSPARENT LOADER
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        z-index: 999;
    }

    100% {
        opacity: 0;
        z-index: -999;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0rem);
    }

    25% {
        transform: translateX(-2rem);
    }

    100% {
        transform: translateX(2rem);
    }

    // 100% {
    //     transform: translateX(0rem);
    // }
}