// HOMEPAGE LABEL "NEW" SHAKE

@keyframes shake {
    25% {
        transform: translateX(3%);
    }

    75% {
        transform: translateX(-3%);
    }
}

// HOMEPAGE AND MENU HEART ANIMATION

@keyframes like {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(3);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

// MENU CHECKED MARKUP ROTATION

@keyframes check {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// MENU SELECTION APPEARANCE

@keyframes show-up {
    0% {
        transform: translateY(1.5rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

// LOADER ANIMATION

@keyframes visible {
    0% {
        opacity: 1;
        z-index: 1000;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loading {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    from {
        transform: translateY(-2rem);
    }

    to {
        transform: translateY(0);
    }
}