// || DISPOSITION

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin tablecloth {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// || BUTTONS

@mixin button {
    @include flex-center;
    @include shadow;
    cursor: pointer;
    border: none;
    min-width: 200px;
    font-weight: 700;
    font-size: $fontMedium;
    transition: all 400ms;
}

@mixin button-pink {
    @include flex-center;
    @include shadow;
    @include button;

    border-radius: 2rem;
    padding: 1.3rem 2.5rem;
    color: #fff;
    background-image: $colorGradient;
}

@mixin buttonNew {
    content: "Nouveau";
    background-color: $colorTertiary;
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: $fontRoot;
    color: darken($colorTertiary, 40);
    padding: 5px 15px;
    border-radius: 0.5rem;
}

// | SHADOW EFFECT

@mixin shadow {
    box-shadow: 0 2px 10px $colorShdw;
}

@mixin hover-shadow {
    box-shadow: 0 6px 10px 2px darken($colorShdw, 100%);
}