/* || COLORS */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-gradient: linear-gradient(to bottom right,
        $color-secondary,
        $color-primary);

/* background colors */
$color-bg-light: #f2f2f2;
$color-bg-dark: #e4e4e4;
$color-footer: #323232;

/* shadow colors */
$color-shdw: rgba(0, 0, 0, 0.3);

$font-title: "shrikhand", sans-serif;
$font-text: "roboto", sans-serif;


/** Font Size **/
$font-size-root: 1rem; // 16px
$font-size-small: 1.12rem; // 18px
$font-size-medium: 1.25rem; // 20px
$font-size-large: 1.5rem; // 24px