/* || COLORS */

/** identity colors **/
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

/* background colors */
$color-bg-light: #f2f2f2;
$color-bg-dark: #e4e4e4;

/* shadow colors */
$color-shdw: #45454542;

/* button colors */
$color-txt-btn-new: #1b7241;
$color-txt-btn-pink: #fff;
$color-bg-btn-pink: linear-gradient(to bottom right,
                $color-secondary,
                $color-primary);

/* || FONTS */
/** Font Family **/
$font-title: "Shrikhand", sans-serif;
$font-text: "roboto", sans-serif;

/** Font Size **/
$font-size-root: 1rem; // 16px
$font-size-small: 1.12rem; // 18px
$font-size-medium: 1.25rem; // 20px
$font-size-large: 1.5rem; // 24px