	.discover {
		@include flex-center;
		flex-direction: column;
		row-gap: 25px;
		padding: 40px;
		text-align: center;
		word-wrap: break-word;
		background-color: $color-bg-light;
		margin-bottom: 60px;

		& p {
			opacity: 0.5;
			font-size: $font-size-medium;
		}

		&__btn {
			@extend .btn;
			border-radius: 50px;
			margin-bottom: 50px;
			padding: 20px 30px;
			color: $color-txt-btn-discover;
			background: linear-gradient(to bottom,
					$color-secondary,
					$color-primary);
		}

		&__btn:hover {
			background: linear-gradient(to bottom right,
					lighten($color-secondary, 4%) 5%,
					lighten($color-primary, 4%) 90%);
		}
	}