	.discover {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 25px;
		padding: 40px;
		text-align: center;
		word-wrap: break-word;
		background-color: $color-bg-light;
		margin-bottom: 60px;

		& p {
			opacity: 0.5;
			font-size: 24px;
		}

		&__btn {
			border-radius: 50px;
			margin-bottom: 50px;
			padding: 20px 30px;
			color: #fff;
			background: linear-gradient(to bottom right,
					$color-secondary,
					$color-primary);
			box-shadow: 0 6px 15px #47474781;
			/* a voir variable */
			transition: all 1000ms;
		}

		&__btn:hover {
			box-shadow: 0 8px 20px #474747;
			background: linear-gradient(to bottom right,
					lighten($color-secondary, 5%) 33%,
					lighten($color-primary, 25%) 100%);
		}
	}