	.discover {
		@include flex-center;
		flex-direction: column;
		row-gap: 25px;
		padding: 40px;
		text-align: center;
		word-wrap: break-word;
		background-color: $color-bg-light;
		margin-bottom: 60px;

		& p {
			opacity: 0.5;
			font-size: $font-size-medium;
		}

		&__btn {
			@include pink-button;

			&:hover {
				box-shadow: 0 8px 20px darken($color-shdw-light, 100);
				background: linear-gradient(to bottom right,
						lighten($color-secondary, 3),
						lighten($color-primary, 3));
			}
		}
	}