	.explore {
		@include flex-center;
		flex-direction: column;
		row-gap: 2rem;
		padding-top: 40px;
		padding-bottom: 90px;
		text-align: center;
		word-wrap: break-word;
		background-color: $colorBackgroundLight;
		margin-bottom: 60px;

		p {
			opacity: 0.5;
			font-size: $fontLarge;
		}

		&__btn {
			@include button-pink;
			transition: all 400ms;

			&:hover {
				@include hover-shadow;
				background: linear-gradient(to bottom right,
						lighten($colorSecondary, 3),
						lighten($colorPrimary, 3));
			}

		}
	}