.footer {
    background-color: $colorFooter;
    color: #fff;
    padding: 2rem;

    &__title {
        font-family: $fontTitle;
        font-size: $fontLarge;
        font-style: italic;
        margin-bottom: 1rem;
    }

    &__item {
        font-size: 1rem;
        line-height: 2rem;

        i {
            width: 20px;
            margin-right: 0.5rem;
        }

        &:focus,
        &:hover {
            color: $colorSecondary;
        }

        &:active {
            color: $colorPrimary;
        }
    }
}

// rajout à activer après validation
.fa-at,
.fa-info {
    display: none;
}

@media #{$tabletScreen} {

    .footer {
        display: grid;
        place-content: center;

        &__title {
            text-align: center;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            text-align: center;
        }
    }

}