.footer {
    background-color: $color-footer;
    color: #fff;
    padding: 2rem;

    &__title {
        font-family: $font-title;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        position: relative;
        outline: none;

        &:hover,
        &:focus {

            color: $color-primary;
            
            &::before {
                opacity: 1;
                transform: translateY(-60%);
            }
        }

        &::before {
            content: "\f102";
            @include pseudo-element-gradient-icon;
            transition: transform 150ms;
        }
    }

    &__item {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        display: flex;

        i {
            width: 20px;
            margin-right: 1.1rem;
            text-align: center;
        }

        &:focus,
        &:hover,
        &:active {
            color: $color-primary;
        }
    }
}

@media #{$tablet-screen} {

    .footer {

        &__title {
            text-align: center;
        }

        &__list {
            display: flex;
            justify-content: space-evenly;
        }
    }
}