	.header__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 35px 0 20px;
		position: relative;
		box-shadow: 0 2px 6px #908f8fc8;

		img {
			max-width: 60%;
			height: auto;
		}
	}