.howto {
    margin: 0 30px 60px;


    &__title {
        margin-bottom: 30px;
    }

}

.howto__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 15px;
    counter-reset: step;

    & li {
        display: flex;
        position: relative;
        padding: 30px;
        align-items: center;
        gap: 20px;
    }

    & li::before {
        counter-increment: step;
        content: counter(step);
        position: absolute;
        left: -15px;
        border-radius: 100%;
        background-color: $color-primary;
        width: 30px;
        height: 30px;
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & li i {
        opacity: 0.5;
        width: 30px;
        text-align: center;
    }
}

.howto__step:hover {
    box-shadow: 0 8px 20px #474747;
    opacity: 0.85;
}