.howto {
    margin: 0 30px 60px;


    &__title {
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-left: 15px;
        counter-reset: step;

        li {
            @include button;
            border-radius: 25px;
            background-color: $color-bg-light;
            display: flex;
            justify-content: flex-start;
            gap: 30px;
            padding: 30px 40px;
            position: relative;
        }

        li::before {
            @include flex-center;
            content: counter(step);
            counter-increment: step;
            position: absolute;
            left: -15px;
            border-radius: 100%;
            background-color: $color-primary;
            width: 30px;
            height: 30px;
            color: #fff;
            font-size: 1rem;
        }

        li:hover,
        li:focus {
            background-color: lighten($color-primary, 35);
            @include hover-shadow;
        }

        li:hover>i,
        li:focus>i {
            color: $color-primary;
            opacity: 1;
        }

        & li i {
            opacity: 0.5;
            font-size: $font-size-large;
        }
    }
}


// || TABLET 992px

@media screen and (min-width: 992px) {
    // .howto {
    //     width: 60%;
    //     margin: 60px auto;

    //     &__title {
    //         text-align: center;
    //     }
    // }
    .howto__title {
        text-align: center;
    }

    .howto__list {
        flex-flow: row nowrap;
        width: 100%;

        li {
            justify-content: space-evenly;
            width: 31%;
        }
    }
}